/* ------------Footer----------- */
.footer {
  margin-top: var(--size-1000);
  margin-bottom: 0;
  padding: var(--size-200) 0;
  background-color: var(--color-primary);
}
.footer-content {
  display: grid;
  /* justify-content: center; */
  margin: 0 var(--size-50);
  grid-template-columns: repeat(3, 33%);
}

.image-container img {
  height: var(--size-500);
  margin: 0 var(--size-200);
}

.footer a {
  border-bottom: 0;
  color: var(--color-link);
}
.footer a:hover {
  color: var(--color-text);
}
.grid-child-footer {
  margin: var(--size-50);
}

@media screen and (max-width: 800px) {
  .footer-content {
    grid-template-columns: repeat(1, 100%);
  }
}
