@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-link: #e4e4ef;
  --color-link-border: #2f6d6d;

  --color-text: #eff3f5;
  --color-background: #00171d;
  --color-primary: #022a42;
  --color-hover: #004e73;
  --color-image-bg: #004e73;

  --color-sidebar: #0e0e2c;
  --color-lable: #df2d2d;

  --color-form-background: #142237;
  --color-input: #1b2b40;

  --color-button: #c81313;
  --color-button-hover: #e03131;

  --color-border-1: #ccc6c6;
  --color-border-2: #b6b8b9;

  --color-service-text: #fafa00;

  --size-10: 0.1rem;
  --size-20: 0.2rem;
  --size-30: 0.3rem;
  --size-40: 0.4rem;
  --size-50: 0.5rem;
  --size-60: 0.6rem;
  --size-70: 0.7rem;
  --size-80: 0.8rem;
  --size-90: 0.9rem;
  --size-100: 1rem;
  --size-120: 1.2rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;
}
:root:has(#dark-mode-toggle:checked) {
  --color-link: #131111;
  --color-link-border: #6be9e9;

  --color-text: #01081e;

  --color-background: #eff3f5;
  --color-primary: #022a42;
  --color-hover: #004e73;

  --color-header: #f8f4fc;
  --color-image-bg: rgba(205, 209, 212, 0.815);
  --color-hr: #366dd2;
  --color-lable: #df2d2d;

  --color-service-text: #0bcc36;
  --color-sidebar: #ebe5f1;

  /* == Loan Page == */

  --color-table-head-row: #1b236e;
  --color-table-background: #1b236e;
  --color-table-background-even: #29327e;

  /*== CONTACT US PAGE ==*/
  --color-form-background: #b2b0af;
  --color-input: #eff3f5;
  --color-button-hover: #49cade;
  --color-button: #20a5bc;
}

/* ---------------------- TeMpOrArY ----------------------- */
.concern {
  background-color: var(--color-form-background);
  padding: var(--size-50);
  color: rgba(239, 243, 245, 0.5);
  border-radius: var(--size-100);
  border: var(--size-20) solid var(--color-hover);
  margin: var(--size-100) var(--size-1000);
  filter: drop-shadow(3px 3px 10px #000);
}
.footer .concern {
  margin: var(--size-100) var(--size-80);
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/*---------------------- links ----------------*/
a {
  color: var(--color-link);
  text-decoration: none;
  transition: 0.35s ease-in-out;
  border-bottom: 2px solid var(--color-link-border);
}

a:hover {
  color: var(--color-text);
}

/* ----utility class---- */

.description {
  font-size: var(--size-120);
  font-weight: 200;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--size-100);
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 750px) {
  .line {
    margin: var(--size-100) var(--size-200);
    opacity: 0.125;
  }
}
/* ---------------------------index ---------------------------- */

.content {
  line-height: var(--size-150);
  /* padding-left: var(--size-300);
  padding-right: var(--size-300); */
  margin: 0 var(--size-100);
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: var(--size-100);
}
.years-of-service {
  padding: var(--size-500);
  text-align: center;
}

.number-tens {
  /* 2 */
  font-size: var(--size-1000);
  color: #fb0100;
}
.number-ones {
  /* 3 */
  font-size: var(--size-800);
  color: #ff2625;
  margin-left: -1.5rem;
}
.service-text {
  color: var(--color-service-text);
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .years-of-service {
    padding: var(--size-500) 0;
  }
  .number-tens {
    font-size: var(--size-800);
    color: #fb0100;
  }
  .number-ones {
    font-size: var(--size-700);
    margin-left: -1rem;
    color: #ff2625;
  }
}
@media screen and (max-width: 600px) {
  .years-of-service {
    padding: var(--size-300) 0;
  }
  .number-tens {
    font-size: var(--size-500);
    color: #fb0100;
  }
  .number-ones {
    font-size: var(--size-400);
    margin-left: -1rem;
    color: #ff2625;
  }
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
}
.services img {
  height: var(--size-2000);
  background-color: var(--color-image-bg);
  padding: var(--size-200);
  border-radius: var(--size-100);
  margin: var(--size-200) 0;
}

.img-center {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .intro-container {
    grid-template-columns: repeat(1, 100%);
  }
  .services-container {
    grid-template-columns: repeat(1, 100%);
  }

  .services img {
    width: 0;
    height: 0;
    padding: 0;
    background-color: 0;
    margin: 0;
  }
  .services {
    margin: var(--size-50) 0;
  }
}

.office-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--size-50);
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.team-members {
  background-color: var(--color-header);
  border-radius: var(--size-100);
  overflow: hidden;
}
.team-details {
  padding-top: var(--size-50);
}
.team-members img {
  width: var(--size-1500);
  border-radius: var(--size-100) var(--size-100) 0 0;
  transition: 1s ease-in-out;
}
.team-members:hover img {
  width: var(--size-1500);
  transform: scale(1.05);
  border-radius: var(--size-100) var(--size-100) 0 0;
  overflow: hidden;
  filter: blur(0.5);
}
.team-image {
  overflow: hidden;
}
/* ---------------------------remittance---------------------------- */

.container {
  display: flex;
  gap: var(--size-50);
  /* overflow: hidden; */
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
}
.container img {
  height: var(--size-800);
  width: auto;
  object-fit: cover;
}
.image {
  overflow: hidden;
}
.image img:hover {
  transform: scale(1.025);
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(--size-50);
}
@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

/* --------------contact us-------------- */

.grid-container-contact {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: var(--size-100);
  padding: var(--size-100);
  justify-content: center;
}
.contact-container-left img {
  height: var(--size-2000);
  padding: var(--size-120);
  border-radius: var(--size-100);
  overflow: hidden;
}
.contact-container-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.contact-container-right .form {
  background-color: var(--color-form-background);
  flex-direction: column;
  display: flex;
  padding: var(--size-300);
  gap: var(--size-50);
  border-radius: var(--size-100);
}
.form input,
textarea {
  padding: var(--size-50);
  background: var(--color-input);
  outline: 0;
  border: 0;
  border-radius: var(--size-50);
  color: var(--color-text);
}
.form input::placeholder,
textarea::placeholder {
  color: var(--color-text);
  opacity: 0.5;
}
.form .button {
  width: var(--size-1000);
  border: 0;
  background: var(--color-button);
  color: var(--color-text);
  padding: var(--size-50);
  margin-left: calc(50% - 5rem);
  transition: 1s ease-in-out;
  cursor: pointer;
  border-radius: var(--size-100);
}
.form .button:hover {
  background: var(--color-button-hover);
}
@media screen and (max-width: 750px) {
  .grid-container-contact {
    grid-template-columns: repeat(1, 100%);
  }
}
/* -------------- about us -------------- */
.abt-us-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.abt-us-fronthouse img {
  width: var(--size-2000);
  padding: var(--size-300) 0;
}

.abt-us-team {
  overflow: hidden;
  margin: var(--size-200) 0;
  border-radius: var(--size-100);
  object-fit: contain;
}
.abt-us-team img {
  overflow: hidden;
  transition: 1s ease-in-out;
  filter: grayscale(0.2);
}
.abt-us-team img:hover {
  transform: scale(1.025);
  filter: grayscale(0);
}

@media screen and (max-width: 750px) {
  .abt-us-container {
    grid-template-columns: repeat(1, 100%);
  }
  .abt-us-team {
    margin: var(--size-400) var(--size-100);
  }
}

/* ------------- Savings Page ---------- */
.savings-names-container {
  display: grid;
  grid-template-columns: 0.1fr 5fr;
  outline: 2px solid var(--color-border-1);

  margin: var(--size-50) 25%;
  align-items: center;
}
.savings-names-container * {
  outline: 2px solid var(--color-border-2);
  margin: var(--size-20);
  padding: var(--size-30) var(--size-20);
  text-align: center;
}
@media screen and (max-width: 750px) {
  .savings-names-container {
    margin: var(--size-100) var(--size-100);
  }
}
