@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* --color-background: #00171d; */
  /* --color-primary: #181c34; */
  /* --color-hover: #20243c; */
  /* --color-secondary: #08041c;
  --color-third: #060326; */
  /* --color-text: #Eff3f5; */
  /* --color-link: #eff3f5; */

  --color-link: #e4e4ef;
  --color-link-border: #6be9e9;

  --color-text: #eff3f5;
  --color-background: #00171d;
  --color-primary: #022a42;
  --color-hover: #004e73;
  --color-header: #3b383a;
  --color-image-bg: #004e73;
  --color-hr: #366dd2;
  --color-lable: #df2d2d;

  /* == Loan Page == */

  --color-table-head-row: #1b236e;
  --color-table-background: #1b236e;
  --color-table-background-even: #29327e;

  /*== CONTACT US PAGE ==*/
  --color-form-background: #142237;
  --color-input: #1b2b40;
  --color-button: #c81313;
  --color-button-hover: #e03131;

  --color-yellow: #fafa00;
  /* --color-accent-primary: #00ADB5;
  --color-accent-secondary: #066c93; */

  --size-10: 0.1rem;
  --size-20: 0.2rem;
  --size-30: 0.3rem;
  --size-40: 0.4rem;
  --size-50: 0.5rem;
  --size-60: 0.6rem;
  --size-70: 0.7rem;
  --size-80: 0.8rem;
  --size-90: 0.9rem;
  --size-100: 1rem;
  --size-120: 1.2rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;

  --header-text: 1.2rem;
}

/* ---------------------- TeMpOrArY ----------------------- */
.concern {
  background-color: var(--color-form-background);
  padding: var(--size-50);
  color: rgba(239, 243, 245, 0.5);
  border-radius: var(--size-100);
  border: var(--size-20) solid var(--color-hover);
  margin: var(--size-100) var(--size-1000);
  filter: drop-shadow(3px 3px 10px #000);
}
.footer .concern {
  margin: var(--size-100) var(--size-80);
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/*---------------------- links ----------------*/
a {
  color: var(--color-link);
  font-weight: 700;
  text-decoration: none;
  transition: 0.35s ease-in-out;
  border-bottom: 2px solid var(--color-link-border);
}

a:hover {
  color: var(--color-text);
  font-weight: 100;
}

/* ----utility class---- */
.title {
  font-size: var(--size-200);
  padding: var(--size-100) var(--size-50);
  margin: var(--size-100) 0;
  font-weight: 600;
}

.no-link {
  color: var(--color-text);
  border: 0;
}
.color-reset {
  color: var(--color-text);
  border: 0;
  cursor: auto;
}
.color-reset a {
  color: var(--color-text);
  border: 0;
}

.title-small {
  font-size: var(--size-150);
  padding: var(--size-100) var(--size-50);
  font-weight: 600;
}
.lable {
  font-size: var(--size-100);
  background-color: var(--color-lable);
  padding: var(--size-50);
  border-radius: var(--size-100);
}
.line {
  border: 1px solid var(--color-hr);
  border-radius: var(--size-100);
  margin: var(--size-200) var(--size-500);
  opacity: 0.125;
}
.description {
  font-size: var(--size-120);
  font-weight: 200;
}
.bold {
  font-weight: bold;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--size-100);
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 750px) {
  .line {
    margin: var(--size-100) var(--size-200);
    opacity: 0.125;
  }
}
/* ---------------------------index ---------------------------- */

.content {
  line-height: var(--size-150);
  /* padding-left: var(--size-300);
  padding-right: var(--size-300); */
  margin: 0 var(--size-100);
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: var(--size-100);
}
.years-of-service {
  padding: var(--size-500);
  text-align: center;
}

.number-tens {
  /* 2 */
  font-size: var(--size-1000);
  color: #fb0100;
}
.number-ones {
  /* 3 */
  font-size: var(--size-800);
  color: #ff2625;
  margin-left: -1.5rem;
}
.service-text {
  color: var(--color-yellow);
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .years-of-service {
    padding: var(--size-500) 0;
  }
  .number-tens {
    font-size: var(--size-800);
    color: #fb0100;
  }
  .number-ones {
    font-size: var(--size-700);
    margin-left: -1rem;
    color: #ff2625;
  }
}
@media screen and (max-width: 600px) {
  .years-of-service {
    padding: var(--size-300) 0;
  }
  .number-tens {
    font-size: var(--size-500);
    color: #fb0100;
  }
  .number-ones {
    font-size: var(--size-400);
    margin-left: -1rem;
    color: #ff2625;
  }
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
}
.services img {
  height: var(--size-2000);
  background-color: var(--color-image-bg);
  padding: var(--size-200);
  border-radius: var(--size-100);
  margin: var(--size-200) 0;
}

.img-center {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .intro-container {
    grid-template-columns: repeat(1, 100%);
  }
  .services-container {
    grid-template-columns: repeat(1, 100%);
  }

  .services img {
    width: 0;
    height: 0;
    padding: 0;
    background-color: 0;
    margin: 0;
  }
  .services {
    margin: var(--size-50) 0;
  }
}

.office-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--size-50);
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.team-members {
  background-color: var(--color-primary);
  border-radius: var(--size-100);
  overflow: hidden;
}
.team-details {
  padding-top: var(--size-50);
}
.team-members img {
  width: var(--size-1500);
  border-radius: var(--size-100) var(--size-100) 0 0;
  transition: 1s ease-in-out;
}
.team-members:hover img {
  width: var(--size-1500);
  transform: scale(1.05);
  border-radius: var(--size-100) var(--size-100) 0 0;
  overflow: hidden;
  filter: blur(0.5);
}
.team-image {
  overflow: hidden;
}
/* ---------------------------remittance---------------------------- */

.container {
  display: flex;
  gap: var(--size-50);
  /* overflow: hidden; */
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
}
.container img {
  height: var(--size-800);
  width: auto;
  object-fit: cover;
}
.image {
  overflow: hidden;
}
.image img:hover {
  transform: scale(1.025);
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(--size-50);
}
@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

/* --------------contact us-------------- */

.grid-container-contact {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: var(--size-100);
  padding: var(--size-100);
  justify-content: center;
}
.contact-container-left img {
  height: var(--size-2000);
  padding: var(--size-120);
  border-radius: var(--size-100);
  overflow: hidden;
}
.contact-container-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.contact-container-right .form {
  background-color: var(--color-form-background);
  flex-direction: column;
  display: flex;
  padding: var(--size-300);
  gap: var(--size-50);
  border-radius: var(--size-100);
}
.form input,
textarea {
  padding: var(--size-50);
  background: var(--color-input);
  outline: 0;
  border: 0;
  border-radius: var(--size-50);
  color: var(--color-text);
}
.form input::placeholder,
textarea::placeholder {
  color: var(--color-text);
  opacity: 0.5;
}
.form .button {
  width: var(--size-1000);
  border: 0;
  background: var(--color-button);
  color: var(--color-text);
  padding: var(--size-50);
  margin-left: calc(50% - 5rem);
  transition: 1s ease-in-out;
  cursor: pointer;
  border-radius: var(--size-100);
}
.form .button:hover {
  background: var(--color-button-hover);
}
@media screen and (max-width: 750px) {
  .grid-container-contact {
    grid-template-columns: repeat(1, 100%);
  }
}
/* -------------- about us -------------- */
.abt-us-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.abt-us-fronthouse img {
  width: var(--size-2000);
  padding: var(--size-300) 0;
}

.abt-us-team {
  overflow: hidden;
  margin: var(--size-200) 0;
  border-radius: var(--size-100);
  object-fit: contain;
}
.abt-us-team img {
  overflow: hidden;
  transition: 1s ease-in-out;
  filter: grayscale(0.2);
}
.abt-us-team img:hover {
  transform: scale(1.025);
  filter: grayscale(0);
}

@media screen and (max-width: 750px) {
  .abt-us-container {
    grid-template-columns: repeat(1, 100%);
  }
  .abt-us-team {
    margin: var(--size-400) var(--size-100);
  }
}

/* --------------------------- toggle button ------------------------ */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* --------------- Learn MOre Button ------------------ */
.learn-more {
  padding: var(--size-50);
  border: 0;
  outline: 0;
  margin: var(--size-300) var(--size-100);
  background: var(--color-button);
  color: var(--color-text);
  border-radius: var(--size-50);
  transition: 1s ease-in-out;
}
.learn-more:hover {
  background: var(--color-button-hover);
}

/* ----------------------- Loan --------------------- */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-form-background);
  margin: var(--size-200) var(--size-1000);
  border-radius: var(--size-100);
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: var(--color-table-background);
  text-align: center;
  padding: var(--size-100) var(--size-1000);
}

.styled-table th,
.styled-table td {
  padding: var(--size-100) var(--size-150);
  width: var(--size-100);
}
.styled-table .long-row {
  width: var(--size-2000);
}

.styled-table tbody tr {
  border-bottom: 1px solid var(--color-text);
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: var(--color-table-background-even);
}

.styled-table tbody tr.head-row {
  background-color: var(--color-table-head-row);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}
.head-row td {
  border-left: 1px solid var(--color-text);
}
.loan-name {
  width: var(--size-2000);
}
