@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --color-background: #00171d;
  --color-primary: #181c34;
  --color-hover: #20243c;
  --color-secondary: #08041c;
  --color-third: #060326;
  --color-text: #Eff3f5;
  --color-link: #eff3f5;

  --color-accent-primary: #00ADB5;
  --color-accent-secondary: #066c93;


  --size-10: 0.1rem;
  --size-50: 0.5rem;
  --size-100: 1rem;
  --size-120: 1.2rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;

  --header-text: 1.2rem;
}


/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* links */
a{
  color: var(--color-link);
  font-weight: var(--size-700);
  text-decoration: none;
  transition: .35s ease-in-out;
  border-bottom: 1px solid var(--color-accent-primary);
}

a:hover{
  color: var(--color-link);
  border-bottom: var(--color-hover) 1px solid;
  font-weight: var(--size-700);
  text-decoration: none;
}
.title{
  font-size: var(--size-200);
  padding: var(--size-100) var(--size-50); 
  font-weight: 600;
}

/* ----utility class---- */
.color-reset{
  color: var(--color-text);

}
.title-small{
  font-size: var(--size-150);
  padding: var(--size-100) var(--size-50); 
  font-weight: 600;
}
.lable {
  font-size: var(--size-100);
  background-color: var(--color-accent-secondary);
  padding: var(--size-50);
  border-radius: var(--size-100);
  
}
.line{
  border: 1px solid var(--color-hover);
  border-radius: var(--size-100);
  margin: var(--size-50) var(--size-300);
}
.description{
  font-size: var(--size-120);
  font-weight: 200;
}
.bold{
  font-weight: bold;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--size-100);
  font-family: 'Roboto', sans-serif;
}

/* -----------------header------------------- */
.header {
  overflow: hidden;
  background-color: var(--color-primary);
  display: flex;
  padding: var(--size-50) var(--size-100);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header a{
  font-family: inherit;
  color: var(--color-text);
  text-decoration: none;
  padding: var(--size-120) var(--size-120);
  border-radius: var(--size-100);
  border: none;
}
.header a:hover{
  background-color: var(--color-hover);
}
.header img {
  height: var(--size-500);
  border-radius: var(--size-100);
}
.header-right {
  align-self: right;
  display: flex;
  /* gap: 1rem; */
  list-style: none;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .header {
    /* justify-content: space-evenly; */
    flex-direction: column;
  }
  .header-right{
    padding-top: var(--size-100);
  }
}

.content{
  line-height: var(--size-150);
  padding-left: var(--size-300);
  padding-right: var(--size-300);
}

/* ---------------------------main---------------------------- */

.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.column img{
  height: 15rem;
  transform: translateY(-20px);
  padding: auto ;
  background-color: var(--color-hover);
  border-radius: var(--size-120);
}
.clmn-right{ 
  padding-left: var(--size-800);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .clmn-right{ 
    padding-left: 0;
    padding-top: var(--size-300);
  }
}

.body-main{
  display: grid;
  gap: var(--size-100);
  grid-template-columns: auto auto;
  margin: 0 var(--size-500);
}

@media screen and (max-width: 600px) {
  .body-main{
    display: grid;
    gap: var(--size-100);
    grid-template-columns: auto;
    margin: var(--size-100);
  }
}
.grid-left{
  width: 100%;
  /* outline: 1px solid white; */
}
.grid-right{
  width: 100%;

  /* outline: 1px solid white; */
}
.image-center{
  display: flex;
  width: 100%;
  justify-content: center;

}

.image-center img{
  width: var(--size-2000);
  background-color: var(--color-accent-primary);
  border-radius: var(--size-100) ;
}
.img-background{
  display: flex;
  width: 100%;
  justify-content: center;

}
.img-background img{
  width: var(--size-2000);
  background-color: var(--color-hover);
  border-radius: var(--size-100) ;
}

.office-team{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:var(--size-50);
  justify-content: center;
  text-align: center;
  overflow: hidden;

}
.team-members{
  background-color: var(--color-primary);
  border-radius: var(--size-100);
  overflow: hidden;
}
.team-details{
  padding-top: var(--size-50);
}
.team-members img{
  width: var(--size-1500);
  border-radius: var(--size-100) var(--size-100) 0 0;
  transition: 1s ease-in-out;

}
.team-members:hover img{
  width: var(--size-1500);
  transform: scale(1.05);
  border-radius: var(--size-100) var(--size-100) 0 0;
  overflow: hidden;
  filter: blur(0.5)
}
.team-image{
  overflow: hidden;
}
/* ---------------------------remittance---------------------------- */

.container{
  display: flex;
  gap: var(--size-50);
  /* overflow: hidden; */
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
}
.container img{
  height: var(--size-800);
  width: auto;
  object-fit: cover;
}
.image{
  overflow: hidden;
}
.image img:hover{
  transform: scale(1.25);
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(--size-50);

}
@media screen and (max-width: 600px) {
  .container{
    flex-direction: column;
  }
  
}


/* ------------Footer----------- */
.footer{
  margin-top: var(--size-1000);
  margin-bottom: 0;
  padding: var(--size-200) 0;
  background-color: var(--color-primary);

}
.footer-content{
  display: grid;
  /* justify-content: center; */
  margin: 0 var(--size-50);
  grid-template-columns: repeat(3 ,33%);
}

.image-container img{
  height: var(--size-500);
  margin: 0 var(--size-200);
}

.footer a{
  border-bottom: 0;
  color: var(--color-text);
}
.footer a:hover{
  color: var(--color-accent-primary);
}
.grid-child-footer{
  margin: var(--size-50);
}
/* .grid-child-footer:nth-child(1){
  margin-right: var(--size-50);
} */
@media screen and (max-width:800px) {
  .footer-content{
    grid-template-columns: repeat(1,100%);
  }
}



/* --------------contact us-------------- */

.grid-container-contact{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: var(--size-100);
  padding: var(--size-100);
  justify-content: center;
}
.contact-container-left img{
  height: var(--size-2000);
  padding: var(--size-120);
  border-radius: var(--size-100);
  overflow: hidden;
}
.contact-container-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: var(--size-200);
}

.contact-container-right .form{
  background-color: var(--color-third);
  flex-direction: column;
  display: flex;
  padding: var(--size-300);
  gap: var(--size-50);
}
.form input, textarea{
  padding: var(--size-50);
  background: var(--color-hover);
  outline: 0;
  border: 0;
  border-radius: var(--size-50);
  color: var(--color-text);
}
.form input::placeholder , textarea::placeholder {
  color: var(--color-text);
}
.form .button{
  width: var(--size-1000);
  border: 0;
  background: var(--color-accent-primary);
  color: var(--color-text);
  padding: var(--size-50);
  margin-left: calc(50% - 5rem);
  transition: 1s ease-in-out;
  cursor: pointer;
}
.form .button:hover{
  background: var(--color-accent-secondary);
}
@media screen and (max-width: 600px) {
  .grid-container-contact{
    grid-template-columns: repeat(1,100%);
  }  
}