:root {
  /* sizes */
  --size-10: 0.1rem;
  --size-20: 0.2rem;
  --size-30: 0.3rem;
  --size-40: 0.4rem;
  --size-50: 0.5rem;
  --size-60: 0.6rem;
  --size-70: 0.7rem;
  --size-80: 0.8rem;
  --size-90: 0.9rem;
  --size-100: 1rem;
  --size-120: 1.2rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;
}

.title-link-icon {
  /* display: none; */
  font-size: var(--size-10);
  color: var(--color-text);
  transition: 100ms ease-in-out;
  opacity: 0;
}

.title:hover .title-link-icon {
  font-size: var(--size-150);
  display: inline-block;
  opacity: 50%;
}

.site-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  gap: var(--size-50);
  padding: var(--size-20);
}
.setting {
  display: flex;
  align-items: center;
  gap: var(--size-100);
}
.title {
  font-size: var(--size-200);
  padding: var(--size-100) var(--size-50);
  margin: var(--size-100) 0;
  font-weight: 600;
}

.no-link {
  color: var(--color-text);
  border: 0;
}

.no-link a {
  border: 0;
  color: var(--color-text);
}

.bold {
  font-weight: bold;
}

.line {
  border: 1px solid var(--color-hr);
  border-radius: var(--size-100);
  margin: var(--size-200) var(--size-500);
  opacity: 0.125;
}

.title-small {
  font-size: var(--size-150);
  padding: var(--size-100) var(--size-50);
  font-weight: 600;
}

.lable {
  font-size: var(--size-100);
  background-color: var(--color-lable);
  padding: var(--size-50);
  border-radius: var(--size-100);
}

/* --------------- Learn MOre Button ------------------ */

.learn-more {
  padding: var(--size-50);
  border: 0;
  outline: 0;
  margin: var(--size-300) var(--size-100);
  background: var(--color-button);
  color: var(--color-text);
  border-radius: var(--size-50);
  transition: 1s ease-in-out;
}

.learn-more:hover {
  background: var(--color-button-hover);
}

/* --------------------------- toggle button ------------------------ */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ------------------ Sidebar ------------- */
